@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        font-family: 'Inter', system-ui !important;
        box-sizing: border-box;
        user-select: none;
    }
    li:last-of-type {
        display: inline-flex;
        align-items: center;
        flex: 0 0 50px;
        border-right: 0;
    }
    .active {
        background-color: rgb(19, 204, 118);
    }
}
